In [46]:
import pandas as pd

Vorbereitung und Datensätze laden

In [47]:
df_study = pd.read_csv("study_cohort.csv")
df_validation = pd.read_csv("validation_cohort.csv")

In [48]:
df_study

,age_years,sex_0male_1female,episode_number,hospital_outcome_1alive_0dead
0,7,1,1,1
1,17,0,2,1
2,70,0,1,1
3,76,0,1,1
4,8,0,1,1
...,...,...,...,...
19046,33,1,1,1
19047,58,0,1,1
19048,44,0,2,1
19049,61,0,3,0
19050,78,0,1,1

In [49]:
df_study.describe()

,age_years,sex_0male_1female,episode_number,hospital_outcome_1alive_0dead
count,19051.000000,19051.000000,19051.000000,19051.000000
mean,72.503228,0.448585,1.396252,0.810719
std,18.614470,0.497363,0.783749,0.391742
min,0.000000,0.000000,1.000000,0.000000
25%,65.000000,0.000000,1.000000,1.000000
50%,77.000000,0.000000,1.000000,1.000000
75%,85.000000,1.000000,2.000000,1.000000
max,100.000000,1.000000,5.000000,1.000000

In [50]:
df_study.shape

(19051, 4)

In [51]:
df_validation

,age_years,sex_0male_1female,episode_number,hospital_outcome_1alive_0dead
0,20,0,1,1
1,22,0,1,1
2,26,1,2,0
3,33,1,1,1
4,33,0,1,1
...,...,...,...,...
132,47,0,1,1
133,50,0,1,0
134,62,0,1,1
135,58,0,1,0
136,55,1,1,1

In [52]:
df_validation.describe()

,age_years,sex_0male_1female,episode_number,hospital_outcome_1alive_0dead
count,137.000000,137.000000,137.000000,137.000000
mean,59.540146,0.343066,1.160584,0.824818
std,15.748956,0.476475,0.368494,0.381518
min,20.000000,0.000000,1.000000,0.000000
25%,50.000000,0.000000,1.000000,1.000000
50%,60.000000,0.000000,1.000000,1.000000
75%,72.000000,1.000000,1.000000,1.000000
max,89.000000,1.000000,2.000000,1.000000

In [53]:
df_validation.shape

(137, 4)

Daten von study_cohort bereinigen und Vorbereiten

In [54]:
import numpy as np

In [55]:
# Spalten angeben von study_cohort
df_study_clean = df_study[['age_years', 'sex_0male_1female', 'episode_number', 'hospital_outcome_1alive_0dead']].copy()

In [56]:
#Spaltenlesbarkeit anpassen von study_cohort
df_study_clean.rename(columns={
    'age_years': 'age',
    'sex_0male_1female': 'sex',
    'episode_number': 'sepsis_episodes',
    'hospital_outcome_1alive_0dead': 'outcome'
}, inplace=True)

In [57]:
# auf fehlende Werte prüfen
missing_values = df_study_clean.isnull().sum()
print(missing_values)

age                0
sex                0
sepsis_episodes    0
outcome            0
dtype: int64

In [58]:
# Datentypen prüfen
print(df_study_clean.dtypes)

age                int64
sex                int64
sepsis_episodes    int64
outcome            int64
dtype: object

In [61]:
# Geschlecht als Text "male", "female" darstellen, Spalte hinzufügen

df_study_clean['sex_label'] = df_study_clean['sex'].map({0: 'male', 1: 'female'})

In [62]:
# Outcome als Text "dead", "alive"
df_study_clean['outcome_label'] = df_study_clean['outcome'].map({0: 'dead', 1: 'alive'})

In [63]:
print(df_study_clean)

       age  sex  sepsis_episodes  outcome sex_label outcome_label
0        7    1                1        1    female         alive
1       17    0                2        1      male         alive
2       70    0                1        1      male         alive
3       76    0                1        1      male         alive
4        8    0                1        1      male         alive
...    ...  ...              ...      ...       ...           ...
19046   33    1                1        1    female         alive
19047   58    0                1        1      male         alive
19048   44    0                2        1      male         alive
19049   61    0                3        0      male          dead
19050   78    0                1        1      male         alive

[19051 rows x 6 columns]